.ui.tabular.menu
    a.item(
        data-ui-sref-active="active",
        data-ui-sref="presets.create.basic"
    )
        | Basic details

    a.item(
        data-ui-sref-active="active",
        data-ui-sref="presets.create.output"
    )
        | Output

    a.item(
        data-ui-sref-active="active",
        data-ui-sref="presets.create.video"
    )
        | Video


    a.item(
        data-ui-sref-active="active",
        data-ui-sref="presets.create.audio"
    )
        | Audio

    a.item(
        data-ui-sref-active="active",
        data-ui-sref="presets.create.advanced"
    )
        | Advanced
