.column
    h1.ui.header Categories

    .right.floated.wide.four.column
        .ui.buttons.tiny
            //- Save all changes
            button.ui.teal.labeled.button.icon(
                data-ng-disabled="!categories.hasChanges()",
                data-ng-class="{'disabled': !categories.hasChanges()}",
                data-ng-click="categories.saveChanges()"
            )
                i.save.icon
                span Save changes

            //- Cancel all changes
            button.ui.black.labeled.button.icon(
                data-ng-disabled="!categories.hasChanges()",
                data-ng-class="{'disabled': !categories.hasChanges()}",
                data-ng-click="categories.cancelAllChanges()"
            )
                i.remove.sign.icon
                span Cancel changes

    table.ui.three.column.table.basic(data-ng-class="{'loading': categories.isLoading}")
        thead
            tr
                th.ten.wide Name
                th.six.wide Actions
        tbody
            //- No categories
            tr.no-categories(data-ng-if="!categories.categoryList.length && !categories.isLoading")
                td.negative(colspan="3")
                    | No categories found.

            //- Categories list
            tr.category(
                data-ng-repeat="category in categories.categoryList",
                data-ng-class="{'negative pending deletion': categories.isPendingDeletion(category)}"
            )
                td
                    //- Link to edit
                    a.edit(
                        data-ng-hide="category.beingEdited || !categories.canEdit(category)",
                        data-ng-click="categories.edit(category)"
                    )
                        | {{ category.name }}

                    //- Static text
                    span(data-ng-show="!categories.canEdit(category) && !category.isBeingSaved")
                        | {{ category.name }}

                    //- Edit form
                    .ui.input(data-ng-show="category.beingEdited")
                        input(
                            data-ng-model="category.name",
                            data-ng-disabled="!categories.canEdit(category)"
                        )

                td
                    .ui.buttons.mini
                        //- Edit
                        button.ui.labeled.button.icon(
                            title="Edit Category",
                            data-ng-disabled="categories.isPendingDeletion(category)",
                            data-ng-class="{'disabled': categories.isPendingDeletion(category)}",
                            data-ng-hide="category.beingEdited",
                            data-ng-click="categories.edit(category)"
                        )
                            i.edit.icon
                            | Edit

                        //- Cancel
                        button.ui.labeled.button.icon(
                            title="Cancel changes",
                            data-ng-show="category.beingEdited"
                            data-ng-click="categories.cancelChanges(category)"
                        )
                            i.edit.icon
                            | Cancel

                        .or

                        //- Restore
                        a.ui.teal.labeled.button.icon(
                            title="Restore Category",
                            data-ng-show="categories.isPendingDeletion(category)"
                            data-ng-click="categories.cancelChanges(category)"
                        )
                            i.edit.icon
                            | Restore

                        //- Delete
                        button.ui.labeled.negative.button.icon(
                            title="Delete category",
                            data-ng-hide="categories.isPendingDeletion(category)",
                            data-ng-click="categories.remove(category)",
                        )
                            i.remove.icon
                            | Delete
