.column
    h1.ui.header Categories

    table.ui.three.column.table.basic(data-ng-class="{'loading': categories.isLoading}")
        thead
            tr
                th.ten.wide Name
                th.six.wide Actions
        tbody
            //- No categories
            tr.no-categories(data-ng-if="!categories.categoryList.length && !categories.isLoading")
                td.negative(colspan="3")
                    | No categories found.

            //- Categories list
            tr.category(data-ng-repeat="category in categories.categoryList", data-ui-view="")
                td
                    //- Link to edit
                    a.edit(data-ng-hide="category.beingEdited", data-ng-click="categories.edit(category)")
                        | {{ category.name }}

                    //- Edit form
                    .ui.input(data-ng-show="category.beingEdited")
                        input(data-ng-model="category.name")

                td
                    .ui.buttons.mini
                        //- Save
                        a.ui.teal.labeled.button.icon(
                            title="Save",
                            data-ng-show="category.beingEdited",
                            data-ng-click="categories.save(category)"
                        )
                            i.save.icon
                            | Save

                        //- Cancel
                        a.ui.labeled.button.icon(
                            title="Cancel",
                            data-ng-show="category.beingEdited"
                            data-ng-click="categories.cancel(category)"
                        )
                            i.level.down.icon
                            | Cancel

                        //- Edit
                        a.ui.labeled.button.icon(
                            title="Edit Category",
                            data-ng-hide="category.beingEdited"
                            data-ng-click="categories.edit(category)"
                        )
                            i.edit.icon
                            | Edit

                        .or

                        //- Delete
                        .ui.labeled.negative.button.icon(
                            title="Delete category"
                        )
                            i.remove.icon
                            | Delete
