table.ui.three.column.table.basic(data-ng-class="{'loading': categories.isLoading}")
    thead
        tr
            th.eleven.wide.name Name
            th.five.wide.ui.actions Actions
    tbody
        //- No categories
        tr.no-categories(data-ng-if="!categories.categoryList.length && !categories.isLoading")
            td.negative(colspan="3")
                | No categories found.

        //- Categories list
        tr.category(
            data-ng-repeat="category in categories.categoryList",
            data-ng-class="{'warning': category.entityAspect.hasValidationErrors}"
        )
            td
                //- Link to edit
                a.edit(
                    data-ng-hide="category.beingEdited || !categories.canEdit(category)",
                    data-ng-click="categories.edit(category)"
                )
                    | {{ category.name }}

                //- Static text
                span(data-ng-show="!categories.canEdit(category) || category.isBeingSaved")
                    | {{ category.name }}

                //- Edit form
                .ui.small.fluid.icon.input(
                    data-ng-show="category.beingEdited && !category.isBeingSaved"
                )
                    input(
                        data-ng-model="category.name",
                        data-ng-disabled="!categories.canEdit(category)",
                        data-ng-keypress="categories.changeEvent($event, category)",
                        placeholder="Category name"
                    )

                    i.warning.icon(data-ng-show="category.entityAspect.hasValidationErrors")

                //- Validation errors
                .ui.divided.section.error.list(data-ng-show="category.entityAspect.hasValidationErrors")
                    .item(data-ng-repeat="error in category.entityAspect.getValidationErrors()")
                        | {{ error.errorMessage }}

            td
                .ui.buttons.mini.floated.right
                    //- Edit
                    button.ui.labeled.button.icon(
                        title="Edit Category",
                        data-ng-hide="category.beingEdited",
                        data-ng-click="categories.edit(category)"
                    )
                        i.edit.icon
                        | Edit

                    //- Cancel
                    button.ui.labeled.button.icon(
                        title="Cancel changes",
                        data-ng-show="category.beingEdited"
                        data-ng-click="categories.cancelChanges(category)"
                    )
                        i.edit.icon
                        | Cancel

                    .or

                    //- Delete
                    button.ui.labeled.negative.button.icon(
                        title="Delete category",
                        data-ng-click="categories.remove(category)",
                    )
                        i.remove.icon
                        | Delete
